image = "/capstor/store/cscs/swissai/infra01/container-images/eval-vllm-26-02-17.sqsh"

mounts = [
    "/users/${USER}",
    "/capstor/scratch/cscs/${USER}",
    "/iopsstor/scratch/cscs/${USER}",
    "/capstor/store/cscs/swissai/infra01",
    "/capstor/store/cscs/swissai/a06",
]

writable = true

[env]
PMIX_MCA_psec="native"


[annotations]
com.hooks.cxi.enabled="false"
